<div class="welcome-area" id="welcome">
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <h1>Pengajuan Informasi<strong> Kota Cimahi</strong></h1>
                    <a href="#about" class="main-button-slider">Find Out More</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <%= image_tag 'slider-icon.png', alt: '#', class: 'rounded img-fluid d-block mx-auto' %>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section" id="about">
  <div class="container">
    <center>
      <h1>Buat Pengajuan Informasi</h1>
    </center>
    <%= render "form", pengajuaninformasi: @pengajuaninformasi %>
</div>
</section>

<section class="section" id="about">
  <div class="container">
    <h3>Status Pengajuan Informasi Saya</h3>
    <div id="pengajuaninformasis">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Id Pengajuan</th>
            <th scope="col">Jenis Permohonan</th>
            <th scope="col">Kebutuhan</th>
            <th scope="col">Tujuan/th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% @myPengajuan.each_with_index do |pengajuan, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= pengajuan.id %></td>
              <td><%= pengajuan.jenisPermohonan %></td>
              <td><%= pengajuan.kebutuhan %></td>
              <td><%= pengajuan.tujuan %></td>
              <td><%= pengajuan.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="left">
      <%= paginate @myPengajuan %>
    </div>
  </div>
</section>
